RewriteEngine On

swag g swa beter normaal doen

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [L]

RewriteCond %{HTTP_HOST} ^www\.woutermol\.com$
RewriteRule ^/?$ "http\:\/\/woutermol\.com\/" [R=301,L]

<IfModule mod_expires.c>
    ExpiresActive on
 
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/svg "access plus 1 month"
</IfModule>

