/*html reset*/
html,
body {
    margin: 0;
    padding: 0;
}
* {
    text-decoration: none;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

/* Main CSS */
body{
    font-family: basic, arial, verdana;
    padding-top: 60px;
}


nav li a{
    font-size: 16px !important;
}