/*html reset*/

html,
body {
    margin: 0;
    padding: 0;
}

* {
    text-decoration: none;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}


/* Main CSS */

body {
   font-family: source-sans-pro, verdana;
}

nav {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.active a {
    background-color: rgba(0, 0, 0, 0.80) !important;
}

nav li a {
    font-size: 16px !important;
}


.index{
    background: url(../images/DSC_3173.jpg) #d6d6d6;
    height: 100%;
    background-size: cover;
    margin-bottom: 0px;
    background-position: top center;
    background-blend-mode:multiply;
}

.albums{
     background: url(../images/DSC_1156.jpg) #d6d6d6;
    height: 100%;
    background-size: cover;
    margin-bottom: 0px;
    background-position: top center;
    background-blend-mode:multiply;
}

#hello-message {
    text-align: center;
    padding-top: 5%;
    color: #ebebeb;
    text-shadow: 1px 1px 5px #555555;
    animation: fadeIn 0.5s;
}

#sub-message {
    color: #d8d8d8;
    text-shadow: 1px 1px 3px #555555;
    text-align: center;
    padding-bottom: 64px;
    font-style: italic;
    animation-delay: 0.25s;
    animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn{
    from{opacity: 0; margin-top: -10px;}
    to{opacity: 1; margin-top: 20px;}
}
@-moz-keyframes fadeIn{
    from{opacity: 0; margin-top: -10px;}
    to{opacity: 1; margin-top: 20px;}
}


#albums .row{
    margin-bottom: 48px;
}
